<section class="list" *ngIf="tracks$ | async as tracks">
  <mdc-data-table>
    <table mdcDataTableTable>
      <thead>
      <tr mdcDataTableHeaderRow>
        <th mdcDataTableHeaderCell>Id</th>
        <th mdcDataTableHeaderCell>Name</th>
        <th mdcDataTableHeaderCell>Preview</th>
        <th mdcDataTableHeaderCell>To Favorites</th>
      </tr>
      </thead>
      <tbody mdcDataTableContent>
      <tr mdcDataTableRow *ngFor="let track of tracks">
        <td mdcDataTableCell><span class="list-label">{{track.id}}</span></td>
        <td mdcDataTableCell><span class="list-label">{{track.name}}</span></td>
        <td mdcDataTableCell>
          <span class="list-label">
            <audio controls>
            <source [src]="track.preview_url">
          </audio>
          </span>
        </td>
        <td>
          <span class="list-label center">
            <button mdc-button (click)="addToFavourites(track)">
              <mdc-icon>favorite</mdc-icon> Like
            </button>
          </span>
        </td>
      </tr>
      </tbody>
    </table>
  </mdc-data-table>
</section>
